<section>
  <h2>Create New Post</h2>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-body">Content</label>
      <textarea name="post-body" id="post-url" cols="30" rows="5"></textarea>
    </div>
    <div class="text-center"><button type="submit" class="p-2" style="width: 200px!important;" >Create</button></div>
    
  </form>
</section>


<script src="/javascript/add-post.js"></script>