
{{#if posts.length}}
<section>

  <div class= "row">
    <div class="col-9">   <h2>Your Posts</h2> </div>

     <div class="text-center col-3">
      <a  href="/dashboard/create-post" type="submit" class=" rounded p-2 bg-dark" style="width: 200px!important;" >Create New Post</a>
    </div> 
  </div>
   


    

  <ul class="post-list list-unstyled">
    {{#each posts as |post|}}

   
       <li> <div class="row">
      <div class="col-10">
         {{> post-info post}} 
      </div>
        <div class="col-2 text-center">
        <a href="/dashboard/edit/{{post.id}}" class="h4 p-3 mt-4  rounded edit-link text-white bg-danger" style=""> Edit post</a>
      </div>
      </div></li>

    {{/each}}
  </ul>
</section>
{{/if}}


    




